@using JobInterviewQuiz.Model.Dtos
@model JobInterviewQuiz.Model.ViewModels.UserAdminViewModel

@{
    ViewBag.Title = "UserAdmin";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<script src="~/Scripts/Administration.js"></script>

<style>
    #errorMessage {
        text-align: center;
    }
</style>

<link href="~/Content/UserAdmin.css" rel="stylesheet" />

<body>
    <div class="container">
        <h2>USER</h2><br />
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2">Username:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" />
                    @Html.ValidationMessageFor(model => model.Username)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Password:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="password" name="password" placeholder="Enter password" />
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Test</label>
                <div class="col-sm-10">
                    <select class="form-control" name="TestName">
                        @foreach (var testname in ViewBag.Tests)
                        {
                            <option>@testname.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-1">
                    <input type="submit" formmethod="post" formaction="@Url.Action("AddUser", "AdminUser")" name="Add" class="btn btn-default" value="Add User" />
                </div>
            </div>
            <div class="col-sm-offset-9">
                <input class="form-control" id="SearchUsers" placeholder="Search by username" />
            </div>
        </form>

        <div class="table-responsive">
            <table class="table table-striped" id="TableData">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Test</th>
                        <th>Status</th>
                        <th>Admin</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in ViewBag.Users)
                    {
                        <tr>
                            <td>@user.Username</td>
                            <td>@user.Email</td>
                            <td>
                                @{
                                    var usertests = ((List<UserTest>)ViewData["TestForUser"]).Where(p => p.UserID == user.Id).ToList();
                                    var tests = ViewBag.Tests;
                                    foreach (var usertest in usertests)
                                    {
                                        foreach (var test in tests)
                                        {
                                            if (usertest.TestId == test.Id)
                                            {
                                                @test.Name
                                            }
                                        }
                                        if (usertest.Id != usertests[usertests.Count - 1].Id)
                                        {
                                            <span>, </span>
                                        }
                                    }
                                }
                            </td>
                            @if (user.ActivStatus)
                            {
                                <td class="tick">&#10004;</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (user.IsAdmin)
                            {
                                <td class="tick">&#10004;</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>
                                <input type="submit" name="edit" value="Edit" class="btn btn-default" onclick="getUserDetalies(@user.Id)" />
                                <input type="submit" name="delete" value="Delete" class="btn btn-default" onclick="DeleteUser(@user.Id)" />
                            </td>
                        </tr>
                                    }
                </tbody>
            </table>
        </div>
    </div>

</body>
<div id="editUserModalHolder"></div>